/* Återställ-standardmarginaler */
body, h1, h2, p, nav, footer {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Typsnitt och bakgrund */
body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    color: #fdfbfb;
    display: flex;
    flex-direction: column;
    background-image: url('images/background.jpg');
    background-size: cover; /* Fyller hela skärmen */
    background-position: center; /* Centrerar bilden */
    background-attachment: fixed; /* Bakgrunden rullar inte med sidan */
    background-repeat: no-repeat; /* Upprepar inte bilden */
}

/* Header-styling */
header {
    background: #35424a;
    color: white;
    padding: 1rem;
    text-align: center;
    align-items: center;
}

/* Navigering */
nav {
    gap: 10px;
}

nav a {
    display: inline-block;
    justify-content: center;
    padding: 10px 15px;
    background-color: #35424a;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
    margin: 0 1rem;
    text-align: center;
}

nav a:hover {
    background-color: #1f2a30;
    transform: translateY(-2px);
}

nav a:active {
    background-color: #1f2a30;
    transform: translateY(0);
}

/* Main-innehåll */
main {
    padding: 2rem;
    max-width: 600px;
    margin: 5rem auto 0;
    padding: 2rem;
    flex: 1;
    margin-top: 2rem;
    text-align: center;
}

main iframe,
main img,
main embed,
main object {
    max-width: 100%;
    height: 800px;
    margin: 0 auto;
    display:block;
}

/* Footer */
footer {
    text-align: center;
    padding: 1rem;
    background: #35424a;
    color: white;
}

.img-rounded {
    border-radius: 10%;
    width: 500px;
    height: 500px;
    object-fit: cover;
    display: block;
    margin: 2rem auto 0;
}

@media (max-width: 600px) {
    .img-rounded {
        width: 100%;
        height: auto;
    }
}
