/* Återställ-standardmarginaler */
body, h1, h2, p, nav, footer {
    margin: 0;
    padding: 0;
}

/* Typsnitt och bakgrund */
body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background-color: beige;
    color: #333;
}

/* Header-styling */
header {
    background: #35424a;
    color: white;
    padding: 1rem;
    text-align: center;
}

/* Navigering */
nav a {
color: white;
text-decoration: none;
}

nav a:hover {
    color: #463a3a;
}

/* Main-innehåll */
main {
    padding: 2rem;
    max-width: 800px;
    margin: 0 auto;
}

/* Footer */
footer {
    text-align: center;
    padding: 1rem;
    background: #35424a;
    color: white;
}